@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>FPT TECHNOLOGY SYSTEM</h1>
    <p class="lead">Application Development</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Account UserManagement</h2>
        <p>Staff Account</p>
        <p>Trainer Account</p>
    </div>
    <div class="col-md-4">
        <h2>Profile UserManagement</h2>
        <p>Trainee Profile</p>
        <p>Trainer Profile</p>
        <p>Categories Management</p>
        <p>Course Management</p>
    </div>
    <div class="col-md-4">
        <h2>View UserManagement</h2>
        <p>View User</p>
    </div>
</div>