@model TechnologySystem.ViewModels.InfoViewModel

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Edit</h2>

@Html.Partial("EditInfo")
@Html.ActionLink("Back to Index", "Index", new { @class = "btn btn-primary" })

